@model School.Web.Models.TeacherViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Create Teacher</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Create Teacher</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        General Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <img id="imgpreview" src="~/images/blank.jpg" alt="image" style="width:200px; height:300px; max-width:100%; height:auto" />
                                    </div>
                                    <div class="col-md-8">
                                        <label asp-for="Id" class="form-label"><b>Student Number:</b></label>
                                        <label asp-for="Id" class="form-label">@ViewBag.idCount</label>
                                        <input asp-for="ImageFile" class="form-control" type="file" onchange="previewimg(event)" />
                                    </div>
                                </div>
                                <label asp-for="FullName" class="form-label"><b>Name:</b></label>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                <input asp-for="FullName" class="form-control" id="name" placeholder="Name">
                                <label asp-for="Gender" class="form-label"><b>Gender:</b></label>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <br />
                                            @Html.RadioButtonFor(model => model.Gender, "Male")<b> Male</b>
                                        </div>
                                        <div class="col-md-8">
                                            <br />
                                            @Html.RadioButtonFor(model => model.Gender, "Female")<b> Female</b>
                                        </div>
                                    </div>
                                </div><br />
                                @{
                                    var minDate = new DateTime(DateTime.Now.Year - 65, DateTime.Now.Month, DateTime.Now.Day);
                                    var maxDate = new DateTime(DateTime.Now.Year - 18, DateTime.Now.Month, DateTime.Now.Day);
                                    var defaultDate = DateTime.Now.Date;
                                }
                                <label asp-for="DateOfBirth" class="form-label"><b>Date of Birth:</b></label>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                <input asp-for="DateOfBirth" type="date" value=@defaultDate class="form-control" id="dateofbirth">
                                <label asp-for="Address" class="form-label"><b>Address:</b></label>
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address">
                                <label asp-for="ZipCode" class="form-label"><b>Zip-Code:</b></label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                                <ejs-maskedtextbox id="mask1" ejs-for="ZipCode" mask="0000-000" placeholder="0000-000" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                @*<input asp-for="ZipCode" type="text" class="form-control" id="zip-code" placeholder="Zip-Code">*@
                                <div style="height:2px;"><h6></h6></div>
                                <label asp-for="City" class="form-label"><b>City:</b></label>
                                <span asp-validation-for="City" class="text-danger"></span>
                                <input asp-for="City" type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        Detailed Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                                <label asp-for="IdentificationNumber" class="form-label"><b>Identification Number:</b></label>
                                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                                <br />
                                <ejs-maskedtextbox id="mask2" ejs-for="IdentificationNumber" mask="00000000-0-LL0" placeholder="00000000-0-XX0" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                <div style="height:2px;"><h6></h6></div>
                                <label asp-for="TaxNumber" class="form-label"><b>Tax Number:</b></label>
                                <span asp-validation-for="TaxNumber" class="text-danger"></span>
                                <ejs-maskedtextbox id="mask3" ejs-for="TaxNumber" mask="000000000" placeholder="000000000" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                <div style="height:2px;"><h6></h6></div>
                                <label asp-for="SSNumber" class="form-label"><b>Social Security Number:</b></label>
                                <span asp-validation-for="SSNumber" class="text-danger"></span>
                                <ejs-maskedtextbox id="mask4" ejs-for="SSNumber" mask="00000000000" placeholder="00000000000" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                <div style="height:3px;"><h6></h6></div>
                                <label asp-for="NHSNumber" class="form-label"><b>National Health Service Number:</b></label>
                                <span asp-validation-for="NHSNumber" class="text-danger"></span>
                                <ejs-maskedtextbox id="mask5" ejs-for="NHSNumber" mask="000000000" placeholder="000000000" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                <div style="height:4px;"><h6></h6></div>
                                <label asp-for="MaritalStatus" class="form-label"><b>Marital Status:</b></label>
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Single")<b> Single</b>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Married")<b> Married</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Divorced")<b> Divorced</b>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Widowed")<b> Widowed</b>
                                        </div>
                                    </div>
                                </div><br />
                                <label asp-for="Nationality" class="form-label"><b>Nationality:</b></label>
                                <span asp-validation-for="Nationality" class="text-danger"></span>
                                <input asp-for="Nationality" type="text" class="form-control" id="nationality" placeholder="Nationality">
                                <label asp-for="Telephone" class="form-label"><b>Telephone Number:</b></label>
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                                <ejs-maskedtextbox id="mask6" ejs-for="Telephone" mask="000000000" placeholder="000000000" cssClass="e-filled" floatLabelType="Never"></ejs-maskedtextbox>
                                <div style="height:2px;"><h6></h6></div>
                                <label asp-for="Email" class="form-label"><b>E-mail:</b></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-mail">
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <input asp-action="Create" class="btn academy-btn mt-30" type="submit" value="Create" style="margin-left:33%" />
                        <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:3%">Back</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var previewimg = function (event) {
        var result = document.getElementById("imgpreview");
        result.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<style>
    .e-mask.e-filled .e-control.e-maskedtextbox {
        height: 54px;
    }
</style>
}