@model IEnumerable<School.Web.Data.Entities.Teacher>

@{
    ViewData["Title"] = "Home";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Search Teacher</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Search Teacher</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <a asp-action="Create" class="btn academy-btn mt-30" style="margin-left:40%">Create New</a>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                    <div class="blog-post-search-widget mb-30">
                        <form action="#" method="post">
                            <input type="search" name="search" id="Search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <table class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdentificationNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdentificationNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <a asp-area="" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-area="" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-area="" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>