@model School.Web.Models.StudentViewModel
@{
    ViewData["Title"] = "Delete";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Delete Student</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Delete Student</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <h2 style="text-align:center">Are you sure you want to Delete this?</h2>
                <br /><br />
                <div class="row">
                    <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    General Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:750px;">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                                    {
                                        <picture>
                                            <img src="@Url.Content(Model.PhotoUrl)" alt="image" style="width:200px; height:300px; max-width:100%; height:auto" />
                                        </picture>
                                    }
                                    @if (string.IsNullOrEmpty(Model.PhotoUrl))
                                    {
                                        <img id="imgpreview" src="~/images/notavailable.jpg" alt="image" style="width:200px; height:300px; max-width:100%; height:auto" />
                                    }
                                </div>
                                <div class="col-md-8">
                                    <br />
                                    <label class="form-label"><b>Student Number:</b></label>
                                    <label class="form-label">@Html.DisplayFor(model => model.Id)</label>
                                </div>
                            </div>
                            <br />
                            <label class="form-label"><b>Full Name:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.FullName)</label> <br />
                            </div>
                            <label class="form-label"><b>Gender:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Gender)</label><br />
                            </div>
                            <label class="form-label"><b>Date of Birth:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.DateOfBirth)</label><br />
                            </div>
                            <label class="form-label"><b>Address:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Address)</label><br />
                            </div>
                            <label class="form-label"><b>Zip-Code:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.ZipCode)</label><br />
                            </div>
                            <label class="form-label"><b>City:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.City)</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    Detailed Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:750px;">
                            <br />
                            <label class="form-label"><b>Identification Number:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.IdentificationNumber)</label><br />
                            </div>
                            <div style="height:2px;"><h6></h6></div>
                            <label class="form-label"><b>Tax Number:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.TaxNumber)</label><br />
                            </div>
                            <label class="form-label"><b>Social Security Number:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.SSNumber)</label><br />
                            </div>
                            <label class="form-label"><b>National Health Service Number:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.NHSNumber)</label><br />
                            </div>
                            <label class="form-label"><b>Marital Status:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.MaritalStatus)</label><br />
                            </div>
                            <label class="form-label"><b>Nationality:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Nationality)</label><br />
                            </div>
                            <label class="form-label"><b>Telephone Number:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Telephone)</label><br />
                            </div>
                            <label class="form-label"><b>Email:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Email)</label><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    School Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                            <label class="form-label"><b>Course:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Course.Name)</label><br />
                            </div>
                            <label class="form-label"><b>Schedule:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Schedule.Shift)</label><br />
                            </div>
                            <label class="form-label"><b>Class:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Class.Name)</label><br />
                            </div>
                            <label class="form-label"><b>School Year:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.SchoolYear)</label><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    School Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                            <ejs-grid id="Grid" dataSource="@Model.Grades" allowSorting="true" allowFiltering="true" allowPaging="true">
                                <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                                <e-grid-columns>
                                    <e-grid-column field="Id" headerText="Id" visible="false" width="auto" type="number" isPrimaryKey="true"></e-grid-column>
                                    <e-grid-column field="Course.Name" headerText="Course" width="auto" type="string"></e-grid-column>
                                    <e-grid-column field="Class.Name" headerText="Class" width="auto" type="string"></e-grid-column>
                                    <e-grid-column field="Subject.Name" headerText="Subject" width="auto" type="string"></e-grid-column>
                                    <e-grid-column field="Teacher.Name" headerText="Subject" width="auto" type="string"></e-grid-column>
                                    <e-grid-column field="FinalGrade" headerText="FinalGrade" width="auto" type="string"></e-grid-column>
                                    <e-grid-column field="Approval" headerText="Approval" width="auto" type="string"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>
                    </div>
                    <!-- ##### About Us Area End ##### -->
                    <form asp-action="Delete" style="margin-left:33%">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn academy-btn mt-30" />
                    </form>
                    <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:3%">Back</a>
                </div>
            </div>
        </section>
    </div>
</section>