@model School.Web.Models.StudentViewModel
@{
    ViewData["Title"] = "Edit";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Edit Student</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Edit Student</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        General Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                                        {
                                            <picture>
                                                <img src="@Url.Content(Model.PhotoUrl)" alt="image" style="width:200px; height:300px; max-width:100%; height:auto" />
                                            </picture>
                                        }
                                        @*<picture>
            <img src="~/img/bg-img/t1.jpg" alt="Girl1" style="width:auto; max-width:100%;">
        </picture>*@
                                    </div>
                                    <div class="col-md-8">
                                        <label asp-for="Id" class="form-label"><b>Student Number:</b></label>
                                        <label asp-for="Id" class="form-label">@Html.DisplayFor(model => model.Id)</label>
                                        <input asp-for="ImageFile" placeholder="@Model.PhotoUrl" class="form-control" type="file" />
                                    </div>
                                </div>
                                <label asp-for="FullName" class="form-label"><b>Name:</b></label>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                <input asp-for="FullName" type="text" class="form-control" id="name" placeholder="Name">
                                <label asp-for="Gender" class="form-label"><b>Gender:</b></label>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <br />
                                            @Html.RadioButtonFor(model => model.Gender, "Male", Model.Gender == "Male" ? "checked" : string.Empty) <b> Male</b>
                                        </div>
                                        <div class="col-md-8">
                                            <br />
                                            @Html.RadioButtonFor(model => model.Gender, "Female", Model.Gender == "Female" ? "checked" : string.Empty) <b> Female</b>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <label asp-for="DateOfBirth" class="form-label"><b>Date of Birth:</b></label>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                <input asp-for="DateOfBirth" type="date" class="form-control" id="dateofbirth">
                                <label asp-for="Address" class="form-label"><b>Address:</b></label>
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address">
                                <label asp-for="ZipCode" class="form-label"><b>Zip-Code:</b></label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                                <input asp-for="ZipCode" type="text" class="form-control" id="zip-code" placeholder="Zip-Code">
                                <label asp-for="City" class="form-label"><b>City:</b></label>
                                <span asp-validation-for="City" class="text-danger"></span>
                                <input asp-for="City" type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        Detailed Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                                <label asp-for="IdentificationNumber" class="form-label"><b>Identification Number:</b></label>
                                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                                <input asp-for="IdentificationNumber" type="text" class="form-control" id="idnumber" placeholder="Identification Number">
                                <label asp-for="TaxNumber" class="form-label"><b>Tax Number:</b></label>
                                <span asp-validation-for="TaxNumber" class="text-danger"></span>
                                <input asp-for="TaxNumber" type="text" class="form-control" id="taxnumber" placeholder="Tax Number">
                                <label asp-for="SSNumber" class="form-label"><b>Social Security Number:</b></label>
                                <span asp-validation-for="SSNumber" class="text-danger"></span>
                                <input asp-for="SSNumber" type="text" class="form-control" id="ssnumber" placeholder="Social Security Number">
                                <label asp-for="NHSNumber" class="form-label"><b>National Health Service Number:</b></label>
                                <span asp-validation-for="NHSNumber" class="text-danger"></span>
                                <input asp-for="NHSNumber" type="text" class="form-control" id="nhsnumber" placeholder="National Health Service Number">
                                <label asp-for="MaritalStatus" class="form-label"><b>Marital Status:</b></label>
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Single", Model.Gender == "Single" ? "checked" : string.Empty) <b> Single</b>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Married", Model.Gender == "Married" ? "checked" : string.Empty) <b> Married</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Divorced", Model.Gender == "Divorced" ? "checked" : string.Empty) <b> Divorced</b>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.MaritalStatus, "Widowed", Model.Gender == "Widowed" ? "checked" : string.Empty) <b> Widowed</b>
                                        </div>
                                    </div>
                                </div><br />
                                <label asp-for="Nationality" class="form-label"><b>Nationality:</b></label>
                                <span asp-validation-for="Nationality" class="text-danger"></span>
                                <input asp-for="Nationality" type="text" class="form-control" id="nationality" placeholder="Nationality">
                                <label asp-for="Telephone" class="form-label"><b>Telephone Number:</b></label>
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                                <input asp-for="Telephone" type="text" class="form-control" id="phone" placeholder="Telephone Number">
                                <label asp-for="Email" class="form-label"><b>E-mail:</b></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <h6><br /></h6>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        School Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                <label asp-for="CourseId" class="form-label"><b>Course:</b></label>
                                @*<span asp-validation-for="CourseId" class="text-danger"></span>*@
                                <ejs-combobox id="courses" ejs-for="CourseId" dataSource="Model.Courses" cssClass="e-filled" placeholder="@Model.Course.Name" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Name" value="Id"></e-combobox-fields>
                                </ejs-combobox>
                                <label asp-for="Schedule" class="form-label"><b>Schedule:</b></label>
                                @*<span asp-validation-for="Schedule" class="text-danger"></span>*@
                                <ejs-combobox id="schedules" ejs-for="Schedule" dataSource="Model.Schedules" cssClass="e-filled" placeholder="Select a Schedule" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Schedule"></e-combobox-fields>
                                </ejs-combobox>
                                <label asp-for="ClassId" class="form-label"><b>Class:</b></label>
                                @*<span asp-validation-for="ClassId" class="text-danger"></span>*@
                                <ejs-combobox id="classes" ejs-for="ClassId" dataSource="Model.Classes" cssClass="e-filled" placeholder="@Model.Class.Name" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Name" value="Id"></e-combobox-fields>
                                </ejs-combobox>
                                <label asp-for="SchoolYear" class="form-label"><b>School Year:</b></label>
                                @*<span asp-validation-for="SchoolYear" class="text-danger"></span>*@
                                <ejs-combobox id="schoolyears" ejs-for="SchoolYear" dataSource="Model.SchoolYears" cssClass="e-filled" placeholder="Select a School Year" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="SchoolYear"></e-combobox-fields>
                                </ejs-combobox>
                            </div>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <h6><br /></h6>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        Grades
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                <div>
                                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                        <table class="table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName) Subject
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName) Teacher
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName) Grade
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Price)
                                                            </td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                                {
                                                                    <img src="@Url.Content(item.ImageUrl)" alt="image" style="width:100px; height:150px; max-width:100%; height:auto" />
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LastPurchase)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LastSale)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IsAvailable)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Stock)
                                                            </td>
                                                        </tr>
                                                    }*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <input asp-action="Edit" class="btn academy-btn mt-30" type="submit" value="Edit" style="margin-left:30%" />
                        <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}