@model School.Web.Models.StudentViewModel
@{
    ViewData["Title"] = "Edit";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Edit Student</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Edit Student</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="row">
                    <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    General Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                            <form action="#" method="post" style="height:850px;">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <picture>
                                            <img src="~/img/bg-img/t1.jpg" alt="Girl1" style="width:auto; max-width:100%;">
                                        </picture>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="form-label"><b>Student Id:</b></label>
                                        <label class="form-label">1</label>
                                        <input class="form-control" type="file" />
                                    </div>
                                </div>
                                <label class="form-label"><b>Name:</b></label>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <label class="form-label"><b>Gender:</b></label>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <br />
                                            <input type="radio" class="form-check-input" id="rbmale" />
                                            <label class="form-check-label"><b>Male</b></label>
                                        </div>
                                        <div class="col-md-8">
                                            <br />
                                            <input type="radio" class="form-check-input" id="rbfemale" />
                                            <label class="form-check-label"><b>Female</b></label>
                                        </div>
                                    </div>
                                </div><br />
                                <label class="form-label"><b>Date of Birth:</b></label>
                                <input type="date" class="form-control" id="dateofbirth">
                                <label class="form-label"><b>Address:</b></label>
                                <input type="text" class="form-control" id="address" placeholder="Address">
                                <label class="form-label"><b>Zip-Code:</b></label>
                                <input type="text" class="form-control" id="zip-code" placeholder="Zip-Code">
                                <label class="form-label"><b>City:</b></label>
                                <input type="text" class="form-control" id="city" placeholder="City">
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    Detailed Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                            <form action="#" method="post">
                                <label class="form-label"><b>Identification Number:</b></label>
                                <input type="text" class="form-control" id="idnumber" placeholder="Identification Number">
                                <label class="form-label"><b>Tax Number:</b></label>
                                <input type="text" class="form-control" id="taxnumber" placeholder="Tax Number">
                                <label class="form-label"><b>Social Security Number:</b></label>
                                <input type="text" class="form-control" id="ssnumber" placeholder="Social Security Number">
                                <label class="form-label"><b>National Health Service Number:</b></label>
                                <input type="text" class="form-control" id="nhsnumber" placeholder="National Health Service Number">
                                <label class="form-label"><b>Marital Status:</b></label>
                                <div class="form-check" style="height:48px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="radio" class="form-check-input" id="rbsingle" />
                                            <label class="form-check-label"><b>Single</b></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="radio" class="form-check-input" id="rbmarried" />
                                            <label class="form-check-label"><b>Married</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="radio" class="form-check-input" id="rbdivorced" />
                                            <label class="form-check-label"><b>Divorced</b></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="radio" class="form-check-input" id="rbwidowed" />
                                            <label class="form-check-label"><b>Widowed</b></label>
                                        </div>
                                    </div>
                                </div><br />
                                <label class="form-label"><b>Nationality:</b></label>
                                <input type="text" class="form-control" id="nationality" placeholder="Nationality">
                                <label class="form-label"><b>Telephone Number:</b></label>
                                <input type="text" class="form-control" id="phone" placeholder="Telephone Number">
                                <label class="form-label"><b>E-mail:</b></label>
                                <input type="email" class="form-control" id="email" placeholder="E-mail">
                            </form>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    School Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                            <form action="#" method="post">
                                <label class="form-label"><b>Course:</b></label>
                                <ejs-combobox id="courses" cssClass="e-filled" placeholder="Select a Course" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Course" value="Id"></e-combobox-fields> @*dataSource="@ViewBag.data"*@
                                </ejs-combobox>
                                <label class="form-label"><b>Schedule:</b></label>
                                <ejs-combobox id="schedules" cssClass="e-filled" placeholder="Select a Schedule" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Schedule" value="Id"></e-combobox-fields> @*dataSource="@ViewBag.data"*@
                                </ejs-combobox>
                                <label class="form-label"><b>Class:</b></label>
                                <ejs-combobox id="classes" cssClass="e-filled" placeholder="Select a Class" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="Class" value="Id"></e-combobox-fields> @*dataSource="@ViewBag.data"*@
                                </ejs-combobox>
                                <label class="form-label"><b>School Year:</b></label>
                                <ejs-combobox id="schoolyears" cssClass="e-filled" placeholder="Select a School Year" index="2" popupHeight="230px" change="valueChange">
                                    <e-combobox-fields text="School Year" value="Id"></e-combobox-fields> @*dataSource="(IEnumerable<CarsList>)ViewBag.data"*@
                                </ejs-combobox>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    Grades
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                            <div>
                                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                    <form action="#" method="post">
                                        <table class="table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FullName)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Price)
                                                            </td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                                {
                                                                    <img src="@Url.Content(item.ImageUrl)" alt="image" style="width:100px; height:150px; max-width:100%; height:auto" />
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LastPurchase)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LastSale)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IsAvailable)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Stock)
                                                            </td>
                                                        </tr>
                                                    }*@
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ##### About Us Area End ##### -->
                    <button class="btn academy-btn mt-30" type="submit" style="margin-left:30%">Edit</button>
                    <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}