@model School.Web.Models.ClassViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Class Details</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Class Details</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="row">
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    General Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:680px;">
                            <label class="form-label"><b>Course:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Course.Name)</label><br />
                            </div>
                            <label class="form-label"><b>Name:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Name)</label><br />
                            </div>
                            <label class="form-label"><b>Schedule:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Schedule)</label><br />
                            </div>
                            <label class="form-label"><b>Classroom:</b></label>
                            <div style="height:48px;">
                                <label class="form-label">@Html.DisplayFor(model => model.Room)</label><br />
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label class="form-label"><b>Subjects:</b></label>                                    
                                    <ejs-listbox id="subjects-select-listbox" dataSource="Model.Subjects" height="200px">
                                        <e-listbox-selectionsettings showCheckbox="false"></e-listbox-selectionsettings>
                                        <e-listbox-fields text="Name" value="Id"></e-listbox-fields>
                                    </ejs-listbox>
                                    <br />
                                    <label class="form-label"><b>Total:</b></label>
                                    <label class="form-label">@Model.Subjects.Count()</label>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label"><b>Teachers:</b></label>
                                <ejs-listbox id="teachers-select-listbox" dataSource="Model.Teachers" height="200px">
                                    <e-listbox-selectionsettings showCheckbox="false"></e-listbox-selectionsettings>
                                    <e-listbox-fields text="FullName" value="Id"></e-listbox-fields>
                                </ejs-listbox>
                                    <br />
                                    <label class="form-label"><b>Total:</b></label>
                                    <label class="form-label">@Model.Teachers.Count()</label>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label"><b>Students:</b></label>                                    
                                <ejs-listbox dataSource="Model.Students" id="students-select-listbox" height="200px">
                                    <e-listbox-selectionsettings showCheckbox="false" ></e-listbox-selectionsettings>
                                    <e-listbox-fields text="FullName" value="Id"></e-listbox-fields>
                                </ejs-listbox>
                                    <br />
                                    <label class="form-label"><b>Total:</b></label>
                                    <label class="form-label">@Model.Students.Count()</label>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <!-- ##### About Us Area End ##### -->
                    <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:40%">Back</a>
                </div>
            </div>
        </section>
    </div>
</section>